:root {
    --highlight-one: hsl(35, 77%, 62%);
    --highlight-two: hsl(5, 85%, 63%);

    --text-secondary: hsl(36, 100%, 99%);
    --text-tertiary: hsl(233, 8%, 79%);
    --text-primary: hsl(236, 13%, 42%);
    --titles: hsl(240, 100%, 5%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-size: 15px;
    font-family: "Inter", sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    padding: 2rem 11rem;
    gap: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-width: 35rem;
}

nav {
    display: flex;
    gap: 3em;
    font-size: 0.8em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3em;
    line-height: 0.9;
}

h1, h2, h3 {
    font-weight: 800; 
}

h1, #trending h3 {
    color: var(--titles);
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.above-fold {
    display: flex;
    gap: 2em;
}

.featured-article article {
    display: flex;
    margin: 2em 0;
    gap: 3em;
}

.featured-article div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    max-width: 50.5%
}

.featured-article summary {
    font-size: 0.9em;
}

button {
    border: none;
    background-color: var(--highlight-two);
    padding: 1em 2.3em;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7em;
}

#new {
    background-color: var(--titles);
    color: var(--text-tertiary);
    padding: 1.2em 1.1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 17.7em;
    max-height: 27em;
}

#new h2 {
    color: var(--highlight-one);
    font-size: 2em;
    margin-bottom: -0.5em;
}

#new h3 {
    color: var(--text-secondary);
    font-size: 1em;
    margin-bottom: 0.4em;
}

#new p {
    font-size: 0.8em;
}

#new article {
    padding-bottom: 1.6em;
}

#new article:not(:last-child) {
    border-bottom: 2px solid var(--text-primary);
}

#trending {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.trending-story-wrapper {
    display: flex;
    max-height: 12em;
}

.trending-story-wrapper img {
    width: 5rem;
    height: auto;
    object-fit: scale-down;
}

.trending-story-wrapper article {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
}

.trending-story-wrapper h2 {
    color: var(--text-tertiary);
}

.trending-story-wrapper h3 {
    font-size: 0.9em;
    margin-bottom: 0.2em;
}

.trending-story-wrapper p {
    font-size: 0.8em;
}

button:hover, 
button:focus, 
h1:hover, 
h1:focus,  
h3:hover, 
h3:focus {
    cursor: pointer;
}

button:hover, button:focus {
    background-color: var(--titles);
}

#new h3:hover, 
#new h3:focus, 
nav a:hover, 
nav a:focus {
    color: var(--highlight-one);
}

#trending h3:hover, #trending h3:focus {
    color: var(--highlight-two);
}

.menu {
    display: none;
}

.mobile {
    display: none;
}

.menu-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.menu-modal-body {
    background-color: #fefefe;
    margin: 0;
    float: right;
    padding: 0.8em 1.6em;
    width: 60%; 
    height: 100%;
}

.menu-modal-body nav {
    display: flex;
    flex-direction: column;
    margin: 6rem 1em;
}

.menu-modal-body nav a {
    color: var(--titles);
    float: left;
    top: 100px;
    right: 100px;
    font-size: 1.2em;
}

.close {
    color: var(--titles);
    float: right;
    font-size: 3em;
    font-weight: 400;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    body {
        padding: 2em;
    }
    header {
        min-width: 0; 
    }
    nav {
        display: none;
    }
    main {
        gap: 3em;
    }
    .menu {
        display: inline;
    }
    h1 {
        line-height: 1;
    }
    .above-fold {
        flex-direction: column;
        align-items: stretch;
    }
    .featured-article article {
        flex-direction: column;
        gap: 1em;
    }
    .featured-article div {
        max-width: 100%;
    }
    #trending {
        grid-template-columns: 1fr;
    }
    #new {
        gap: 1em;
    }
    #new h2 {
        margin-bottom: 0;
    }
    .trending-story-wrapper article {
        margin: 0;
    }
    .trending-story-wrapper {
        gap: 1em;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}